/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light background color */
    color: #343a40; /* Text color */
    font-family: 'Times New Roman', Times, serif;

}

a{
color: #f8f9fa;
text-decoration: none;

}


h1 {
    color: black; /* Primary color for headers */
    font-family: 'Times New Roman', Times, serif;
}

/* Header Styles */
.header {
    background-color: #FF3F00;
    
    padding: 20px;
    text-align: center;
    width: 100%;
}


/* Navigation Bar Styles */
.nav-container {
    background-color: #FF3F00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    padding: 10px 20px;
    background-color: #FF3F00;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 15px;
}



.div-container{

    padding: 0% 12px;
}
/* Contact Form Styles */
.contact-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3; /* Hover color */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        font-size: 24px;
    }

    .navbar-nav .nav-link {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .contact-container {
        margin-top: 20px;
        padding: 20px;
    }
}


.navbar-toggler {
    background-color: #fff; 

}



.copyright-box {
    background-color: #ff3f00;
   
}

.copyright {
    color: #ffffff;
}


footer{
    background-color: #FF3F00; /* White background */
    margin-top: 0px; /* Add margin between the two boxes */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    bottom: 0;
    width: 100%;
    height: 30px;
    position: fixed;
}
